<div *ngIf="true">
  <div *ngIf="depth > 0">
    <div (click)="toggle()">
      <mat-icon
        *ngIf="allDependencies.length > 0"
        class="mat-icon-rtl-mirror">
        {{showMore ? 'arrow_drop_down' : 'arrow_right'}}
      </mat-icon>
      <span [ngClass]="{'highlight': isHighlighted()}">
        {{dependencyName}}@{{dependencyVersion}}
      </span>
    </div>
  </div>
  <div *ngFor="let dependency of allDependencies; let i = index">
    <div *ngIf="showMore && (containsSearchField(i) || (searchField == undefined))" style="padding-left: 2rem; margin-left: 2rem">
      <app-dependency-recursive [depth]="depth + 1"
                                [dependencyName]="dependency.data.name"
                                [dependencyVersion]="dependency.data.version"
                                [allDependencies]="dependency.children"
                                [searchField]="searchField"
                                [showMore]="containsSearchField(i)"
                                (childEvent)="receiveInfo($event)">
      </app-dependency-recursive>
    </div>
  </div>
</div>
