<ng-container *ngIf="project">
  <div style="display: flex; flex-direction: column">
    <h1 style="text-align: center;">{{project.name}}</h1>
    <h3 style="text-align: center;">{{project.projectPath}}</h3>
  </div>

  <div class="col" style="display: flex">
    <div class="col1" style="flex-shrink: 0; flex-grow: 0">
      @defer {
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text"
                 [(ngModel)]="value">
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="setSearchField()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Filter by vulnerabilities</mat-label>
          <mat-select [(value)]="filterByVulnerabilities">
            <mat-option>None</mat-option>
            <mat-option value="true">With vulnerabilities</mat-option>
            <mat-option value="false">Without vulnerabilities</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="filterByOutdated">Outdated</mat-checkbox>

        <mat-checkbox [(ngModel)]="filterByOutOfSupport">Out of support</mat-checkbox>

        <button mat-button (click)="resetFilters()">Reset</button>
        <app-dependency-recursive [allDependencies]="treeNodes"
                                  [searchField]="searchField"
                                  [filterByVulnerabilities]="filterByVulnerabilities"
                                  [filterByOutOfSupport]="filterByOutOfSupport == true ? true : undefined"
                                  [filterByOutdated]="filterByOutdated == true ? true : undefined"
                                  [showMore]="true"
                                  (childEvent)="receiveInfo($event)"
        >
        </app-dependency-recursive>
      } @loading (minimum 1s) {
        <p>Loading...</p>
      }


    </div  >
    <div style="width: 3rem"></div>
    <div class="col2" style="flex: 1">
      <app-dependency-details
        [selectedDependency]="selectedDependency"
        [libraryInfo]="selectedLibrary">
      </app-dependency-details>

    </div>
  </div>
</ng-container>
