<ng-container *ngIf="project">
  <div style="display: flex; flex-direction: column">
    <h1 style="text-align: center;">{{project.name}}</h1>
    <h3 style="text-align: center;">{{project.projectPath}}</h3>
  </div>

  <mat-form-field class="example-form-field">
    <mat-label>Name</mat-label>
    <input matInput type="text"
           [(ngModel)]="value">
<!--    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="filterDependencies(value)">-->
<!--      <mat-icon>search</mat-icon>-->
<!--    </button>-->
  </mat-form-field>

  <mat-form-field>
    <mat-label>Filter by vulnerabilities</mat-label>
    <mat-select [(value)]="filterByVulnerabilities">
      <mat-option>None</mat-option>
      <mat-option value="true">With vulnerabilities</mat-option>
      <mat-option value="false">Without vulnerabilities</mat-option>
    </mat-select>
  </mat-form-field>

  <p>You selected: {{filterByVulnerabilities}}</p>

  <div class="col" style="display: flex">
    <div class="col1" style="flex-shrink: 0; flex-grow: 0">
      <app-dependency-recursive [allDependencies]="treeNodes"
                                [searchField]="value"
                                [filterByVulnerabilities]="filterByVulnerabilities"
                                [showMore]="true"
                                (childEvent)="receiveInfo($event)"
      >
      </app-dependency-recursive>
    </div  >
    <div style="width: 3rem"></div>
    <div class="col2" style="flex: 1">
      <app-dependency-details
        [selectedDependency]="selectedDependency"
        [libraryInfo]="selectedLibrary">
      </app-dependency-details>

    </div>
  </div>


</ng-container>
