<!--<div *ngFor="let project of projects$">-->
<!--  <p (click)="navigate(project._id)">{{project | json}}</p>-->
<!--</div>-->

<div style="padding-left: 10rem; padding-right: 10rem">
<!--  move to standalone component-->

  <app-projects-table [projects]="projects$"></app-projects-table>

  <div style="display: flex; align-items: baseline; justify-content: center; margin-top: 2rem;">
    <mat-form-field style="margin-right: 1rem; width: 300px">
      <input matInput [(ngModel)]="folderPath" placeholder="Folder path">
    </mat-form-field>
    <button mat-raised-button (click)="analyse(folderPath)">Analyse project</button>
  </div>

  <app-system-details>

  </app-system-details>

</div>
