<div *ngIf="true">
  <div *ngIf="depth > 0">
    <div (click)="toggle()">
      <mat-icon
        *ngIf="allDependencies.length > 0"
        class="mat-icon-rtl-mirror">
        {{showMore ? 'arrow_drop_down' : 'arrow_right'}}
      </mat-icon>
      <span
        [ngClass]="{'highlight': isHighlighted()}">
        {{dependency?.name}} at {{dependency?.version}}
      </span>
    </div>
  </div>

  @for(dependency of allDependencies; track $index) {
    @if (showMore && (containsFilters($index) || ((this.filter | json) === '{}'))) {
      <div style="padding-left: 2rem; margin-left: 2rem">
        @defer (on viewport){
          <app-dependency-recursive
          [depth]="depth + 1"
          [allDependencies]="dependency.children"
          [filter]="filter"
          [showMore]="containsFilters($index)"
          [dependency]="dependency.data"
          (childEvent)="receiveInfo($event)">
        </app-dependency-recursive>
        } @placeholder () {
          <p>Loading...</p>
        }
      </div>
    }
  }

</div>
